body {
  background-image: url(./img/blackbackground.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}


.navbar {
  width: 100vw;
  z-index: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  opacity: .5;
}

.LoginForm-Form, .RegisterForm-Form, .UserEditor-Form, .BugEditor-Form, .AddBug, .TestCaseEditor-Form{
  border: 2px solid white;
  background-color: rgba(116, 116, 116, 0.5);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(116, 116, 116);
}

.LoginForm-Header, .RegisterForm-Header, .UserEditor-Header, .BugEditor-Header, .AddBug-Header {
  text-shadow: 2px 2px rgb(116, 116, 116);
}

#LoginForm-Register, #RegisterForm-SignIn {
  color: black;
}

.BugList-Title, .UserList-Title {
  color: black;
}

.BugEditor-CommentList {
  border: 2px solid white;
  box-shadow: 3px 5px 10px black;
}

.BugEditor-TestCaseList {
  border: 2px solid white;
  box-shadow: 3px 5px 10px black;
}

.CommentList {
  width: 100;
}

.TestCaseList {
  width: 100;
}

.BugList {
  width: 100;
  border: 2px solid white;
  box-shadow: 1px 1px 10px white;
}

.AddBug-Error {
  width: 100;
  border: 2px solid white;
  box-shadow: 1px 1px 10px white;
}

.UserList {
  width: 100;
  border: 2px solid white;
  box-shadow: 1px 1px 10px white;
}

.AddComment {
  border-bottom: 1px solid gray;
}

.AddTestCase {
  border-bottom: 1px solid gray;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
}

/*
.comment-text {
  overflow-wrap: break-word;
} */