
body {
  background-image: url(./img/backgroundimg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
  /* background: linear-gradient(rgb(32, 32, 32), rgb(104, 104, 104)); */
}

.navbar {
  border: 2px solid rgb(116, 116, 116);
  width: 100vw;
  z-index: 1;
}

/* .App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
} */

footer {
  border: 2px solid rgb(116, 116, 116)
}

.form-control:disabled, .form-control[readonly] {
  background-color: #fff;
  opacity: .5;
}

.LoginForm-Form, .RegisterForm-Form, .UserEditor-Form, .BugEditor-Form{
  border: 2px solid white;
  background-color: rgba(116, 116, 116, 0.5);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(116, 116, 116);
}

.LoginForm-Header, .RegisterForm-Header, .BugList-Header, .UserList-Header, .UserEditor-Header, .BugEditor-Header {
  text-shadow: 2px 2px rgb(116, 116, 116);
}

#LoginForm-Register, #RegisterForm-SignIn {
  color: black;
}

.BugList-Title, .UserList-Title {
  color: black;
}